body{
    background-image: url('/images/back.jpg');
}

.content{
    width:800px;
    margin:0 auto;
    font-family:'Bitter';
}

.content .header {
    /*background-image: url('/images/glow-top-centru.png');*/
    text-align: center;
    padding: 70px 0 30px 0;
}

.upload-file{
    padding-top: 140px;
    width: 250px;
    margin:0 auto;
}

.upload-img-btn{
    font-size: 20px;
    color: #dc4056;
    background: none;
    width: 200px;
    height: 60px;
    line-height: 60px;
    background-color: rgba(255, 255, 255, .8);
    border: none !important;
    border-radius: 0;
}

.upload-file :hover{
    width: 200px;
    height: 60px;
    line-height: 60px;
    border: none !important;
    border-radius: 0;
    color: #dc4056;
    background: none;
    background-color: #fff;
}

.uploaded-img{
    z-index:-1;
    width:auto;
    margin:0 auto;
    border: black 1px;
    text-align: center;
}

.imaj{
    border: 5px solid rgba(255, 255, 255, .7);
}

.modal-del{
    width: 360px;
    margin-left: -150px;
    font-size: 16px;
}

.modal-backdrop, .modal-backdrop.fade.in{
    opacity: 0.4;
    background-color: #E70048;
}

.modal-confirm{
    text-align: center;
}

body.loading {
    overflow: hidden;   
}

body.loading .modal {
    display: block;
}

.radio-sel{
    color: white;
    padding-right: 4px;
}

.socially-fb{
    pdding-top: 230px;
    line-height: 30px;
    padding-left: 10px;
    margin: 0 auto;
}

a {
    color:#000;
    text-decoration:none
}

a:hover {
    color: #fff;
    text-decoration:none
}

.error{
    color: #fff;
    font-size: 17px;
    width: 340px;
    margin: 0 auto;
    font-style: italic;
    text-align: center;
}

#footer {
    color: #000;
    background-color: #fff;
    padding-bottom: 0px;
    position:fixed;
    bottom:0;
    width:800%;
    height:30px;
    line-height: 30px;
}

input[type='radio'], label{   
    vertical-align: baseline;
}